@keyframes wave{
    from {
        background-position: left 0 top 0;
    }
    to{
        background-position: left 800px top 0;
    }
}

 @import url("http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--gutter: 30px;
	--side-small: 26;
	--side-big: 36;
	--depth: 4000px;
	--transition: .75s cubic-bezier(.075, .5, 0, 1)
}

/* Скрываем Scrollbar */
body {
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */
}

@font-face {
	font-family: raleway_c;
	src: url(../fonts/raleway-v22-cyrillic-300.woff2);
	font-weight: 300;
}
@font-face {
	font-family: raleway_c;
	src: url(../fonts/raleway-v22-cyrillic-100.woff2);
	font-weight: 100;
}
body {
	background-color: #000;
	color: #d8d3d3;
	font-size: calc(var(--index) * .8);
	font-family: raleway_c, sans-serif;
	line-height: 1.75;
	height: var(--depth);
	font-weight: 300;
}
.container {
    background-image: url(../img/fon-me.jpg);
	width: 100%;
	height: 100%;
	position: fixed;
	perspective: 1500px;
}
.gallery {
	transform-style: preserve-3d;
	height: 100%;
}
.frame {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition), opacity .75s ease;
	will-change: transform;
	transform-style: preserve-3d;
}
h1, h2, h3, h4 {
	font-weight: 100;
	text-transform: uppercase;
	width: min-content;
	line-height: 1;
    border-color: #000;
    text-shadow: rgb(8, 8, 8) 1px 0 10px;
    text-shadow: 2px 0 2px #dfdddd, 
				0 2px 2px #030303, 
				-2px 0 2px #c9c4c5, 
				0 -2px 2px #0c0c0c;
}
.frame h2 {
	text-align: center;
	font-size: calc(var(--index) * 3.3);
}
.frame-media {
	position: relative;
	width: calc(var(--index) * var(--side-small));
	height: calc(var(--index) * var(--side-big));
	background-position: center;
	background-size: cover;
}
.frame-media_left {
	right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame-media_right {
	left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame_bg {
	background-color: rgb(0 0 0 / .87);
}
video.frame-media {
	width: calc(var(--index) * var(--side-big));
	height: calc(var(--index) * var(--side-small));
}
video.frame-media_right {
	left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
video.frame-media_left {
	right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
.text-right > * {
	position: relative;
	left: 18vw;
}
.text-left > * {
	position: relative;
	right: 18vw;
}
.frame h3 {
	font-size: calc(var(--index) * 3);
}
.frame p {
	max-width: 30vw;
	margin-top: 3vh;
}
.soundbutton {
	position: fixed;
	bottom: 5vh;
	right: 5vw;
	cursor: pointer;
	width: 24px;
	transition: .25s ease;
}
.soundbutton.paused {
	opacity: .25;
}
.container_1
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container_1
{
    position: fixed;
    bottom: 7vh;
    right: 7vw;
    cursor: pointer;
	right: 24px;
}
.container_2 {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	z-index: 10;
}
.container_2 .bth {
    position: relative;
    width: 155px;
    height: 50px;
    margin: 20px;

}
.container_2 .bth a {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 255, 255, 255, 0.05;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}
.container_2 .bth:hover a {
    letter-spacing: 3px;
}
.container_2 .bth a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient( to left, rgba(255,255,255,0.15), transparent);
    transform: skew(45deg) translateX(0);
    transition: 0.5s;
}
.container_2 .bth:hover a::before {
    transform: skew(45deg) translateX(200px);
}
.container_2 .bth::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}
.container_2 .bth:hover:before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}
.container_2 .bth::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}
.container_2 .bth:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}
.container_2 .bth:nth-child(1)::before,
.container_2 .bth:nth-child(1)::after {
    background: #2db2ff;
    box-shadow: 0 0 5px #2db2ff,
    0 0 15px #2db2ff,
    0 0 30px #2db2ff,
    0 0 60px #2db2ff;
}