.el-button {
    cursor: pointer;
    width: 200px;
    height: 75px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    background-color: #081649;
    text-decoration: none;
    padding: 0.75em 1.75em;
    border-radius: 99px;
    border: none;
    transition: background-color 0.6 ease-out;
}

:focus:not(:focus-visible) { outline: none }

.el-button:hover {
    background-color: #0f2473;
}

.el-button:focus {
    background-color: #0f2473;
    outline: 5px solid #a0fdfe;
}

.border-gradient {
    padding: 4px;
    opacity: 0.8;
    border-radius: 99px;
    background: rgb(177, 131, 255);
    background: linear-gradient(
            90deg,
            rgb(177, 131, 255) 0%,
            rgb(85 114 199) 100%
    );
}

.button-text {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-55%);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    user-select: none;
    letter-spacing: 1.5px;
    color: white;
}

#scribbles {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: visible;
}

.vh {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}